.env
__pycache__
__pycache__/
bannedWordList.txt
logs.txt
audio
images
video
.idea
bndms
visitedRedditPages.txt
bndvd
permAudio
TestMain.py
parseIgnore.txt
error1.png
error2.png
error3.png
error4.png
oldLogs